.locations,
.amenities {
    height: 100%;
    width: 25%;
    float: left;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3,
.locations h4,
.amenities h4 {
    font-weight: 600;
}

.locations h4,
.amenities h4 {
    font-size: 14px;
}