.popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #484848;
    width: 100%;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.locations .popover,
.amenities .popover {
}